## Homework: Regular Expressions


### University of Virginia
### Foundations of Computer Science
### Last Updated: November 13, 2021
---

### Objectives: 
- Practice writing and testing regular expressions

### Executive Summary


There are two short text documents in this notebook. You will write regular expressions to find certain patterns.  

Note: This website is a helpful resource for writing and testing regexes: [regex101](https://regex101.com/)

### Instructions

Answer the questions, showing all code and results.  
When the file is completed, submit the notebook through Collab.

**Notes:**  
1) When instructions ask for a case insensitive match on a word or phrase, any mix of uppercase and lowercase characters are a match.  
2) The regexes do not need to be robust generally. They simply need to find all the matches in the documents. For example, when matching dollar amounts,  
   the regex does not need to guard against matching invald forms such as $61,0 as they are not in the documents. 

**TOTAL POINTS: 12**

---

In [1]:
import re

#### DOCUMENTS FOR SEARCH

In [2]:
doc1 = "(CNN) This is an article about America's Workers. Getting family health insurance on the job now costs workers and their employers more than $22,000 a year, on average. And companies have not been able to do much to make coverage more affordable, even though the coronavirus pandemic has reinforced the importance of health benefits.\
Employees foot about $6,000 of the tab, while companies pick up the rest, according to the 2021 Kaiser Family Foundation Employer Health Benefits Survey. The report, released Wednesday, found that the average annual premium rose 4% this year to $22,221.\
The average annual premium for a single staffer in 2021 hit $7,739, also up 4%. Workers pay about $1,300, and employers cover the remaining tab.\
About 155 million Americans rely on employer-sponsored coverage -- and they are paying a lot more for that benefit than they were a decade ago. The average family premium has increased 47%, more than wages or inflation, which rose 31% and 19%, respectively, Kaiser found.\
The average count is 21,000."

In [3]:
doc2 = "Curry reacts in the second half against the Chicago Bulls. (CNN)It seems every week NBA superstar Steph Curry is making history.\
Earlier this week, he overtook Wilt Chamberlain to become the oldest player to record 50 points and 10 assists in a game.\
And on Friday night, the 33-year-old passed basketball great Ray Allen for the most three-pointers scored in all NBA games, including playoffs, in NBA history.\
Curry connected with nine of his 17 three-point attempts in the Golden State Warriors' 119-93 win over the Chicago Bulls, taking his tally in regular season and playoff games to 3,366, surpassing Allen's total of 3,358.\
He had come into the game just one behind two-time NBA champion Allen and equaled his record within the first few minutes of the game.\
And he became the all-time lead just minutes later, drilling a long-range effort over Alex Caruso."

---

#### 1) (1 POINT) Search *doc1* for the word 'family', print the matches, and print the number of matches.

In [4]:
re_family = r"family"
familes = re.findall(re_family, doc1)
print(familes)
print(len(familes))

['family', 'family']
2

#### 2) (2 POINTS) Search *doc1* for the first occurrence of the word "workers" (case insensitive).  
####    If it finds a match, use the start() and end() methods to extract the match from the document, printing the result.

In [5]:
re_workers = r"workers"
match_worker = re.finditer(re_workers, doc1,re.IGNORECASE)
if match_worker: 
    for mt in match_worker:
        st = mt.start()
        ed = mt.end()
        print('match text:', mt.string[st:ed], '; start_pos:', st, '; end_pos', ed)

match text: Workers ; start_pos: 41 ; end_pos 48
match text: workers ; start_pos: 103 ; end_pos 110
match text: Workers ; start_pos: 666 ; end_pos 673

#### 3) (1 POINT) Search *doc1* for the word 'family' (case insensitive), print the matches, and print the number of matches.

In [6]:
re_family = r"family"
familes = re.findall(re_family, doc1, re.IGNORECASE)
print(familes)
print(len(familes))

['family', 'Family', 'family']
3

#### 4) (1 POINT) Search *doc1* for dollar amounts, print the matches, and print the number of matches. Dollar amounts start with "$" followed by digits and possibly commas.

Note: "$" will have different meanings in a regex, so take care to use it properly in this context.

In [7]:
re_money = r"(\$[0-9]+,?[0-9]*)"
money = re.findall(re_money, doc1, re.IGNORECASE)
print(money)
print(len(money))

['$22,000', '$6,000', '$22,221', '$7,739', '$1,300']
5

#### 5) (2 POINTS) Search *doc1* for numbers that are not percentages nor dollar amounts. Print the matches, and print the number of matches.


Examples:  
55 is a match, and 55,000 is a match, and 55. is a match (the last could occur at the end of a sentence, for example.  
$55,000 is not a match, and 55% is not a match

In [8]:
re_not_money_not_percent = r"(?<=\s)\d+,?\.?\d+(?!\%)"
numbers = re.findall(re_not_money_not_percent, doc1, re.IGNORECASE)
print(numbers)
print(len(numbers))

['2021', '2021', '155', '21,000']
4

---

#### The following questions ask you to search doc2.

#### 6) (2 POINTS) Search *doc2* for two or more words (consisting of only letters) joined by dashes. Print the matches, and print the number of matches.

Examples: "twenty-year-old" and "all-star"  
Non-examples: '22-year' and '110-90' are not matches as they contain numbers

In [9]:
re_dashed = r"[a-z]+-[a-z]+"
dashed = re.findall(re_dashed, doc2, re.IGNORECASE)
print(dashed)
print(len(dashed))
doc2

['year-old', 'three-pointers', 'three-point', 'two-time', 'all-time', 'long-range']
6

"Curry reacts in the second half against the Chicago Bulls. (CNN)It seems every week NBA superstar Steph Curry is making history.Earlier this week, he overtook Wilt Chamberlain to become the oldest player to record 50 points and 10 assists in a game.And on Friday night, the 33-year-old passed basketball great Ray Allen for the most three-pointers scored in all NBA games, including playoffs, in NBA history.Curry connected with nine of his 17 three-point attempts in the Golden State Warriors' 119-93 win over the Chicago Bulls, taking his tally in regular season and playoff games to 3,366, surpassing Allen's total of 3,358.He had come into the game just one behind two-time NBA champion Allen and equaled his record within the first few minutes of the game.And he became the all-time lead just minutes later, drilling a long-range effort over Alex Caruso."

#### 7) (1 POINT) Search *doc2* for all words starting with an uppercase letter.  Print the matches, and print the number of matches.

In [10]:
re_upper = r"\b[A-Z].*?\b"
upper = re.findall(re_upper, doc2)
print(upper)
print(len(upper))

['Curry', 'Chicago', 'Bulls', 'CNN', 'It', 'NBA', 'Steph', 'Curry', 'Earlier', 'Wilt', 'Chamberlain', 'And', 'Friday', 'Ray', 'Allen', 'NBA', 'NBA', 'Curry', 'Golden', 'State', 'Warriors', 'Chicago', 'Bulls', 'Allen', 'He', 'NBA', 'Allen', 'And', 'Alex', 'Caruso']
30

#### 8) (1 POINT) Search *doc2* for the word "in." Print the matches, and print the number of matches. 

Example: "Jordan is *in* the house  
Non-example: Jordan is ready to win (careful not to match on the substring "in" in "win")

In [11]:
re_in = r"\b(in)\b"
in_words = re.findall(re_in, doc2)
print(in_words)
print(len(in_words))

['in', 'in', 'in', 'in', 'in', 'in']
6

#### 9) (1 POINT) Search *doc2* for a number followed by the word "points."  
####    Include capture groups in the regex to extract the number of points, and print the number.  
####    Credit is only given if you use capture groups in this exercise.
Hint: use the search() function.

In [12]:
re_points = r"\b(\d*\s*points)"
re_points = re.findall(re_points, doc2, re.IGNORECASE)
print(re_points)
print(len(re_points))
doc2

['50 points']
1

"Curry reacts in the second half against the Chicago Bulls. (CNN)It seems every week NBA superstar Steph Curry is making history.Earlier this week, he overtook Wilt Chamberlain to become the oldest player to record 50 points and 10 assists in a game.And on Friday night, the 33-year-old passed basketball great Ray Allen for the most three-pointers scored in all NBA games, including playoffs, in NBA history.Curry connected with nine of his 17 three-point attempts in the Golden State Warriors' 119-93 win over the Chicago Bulls, taking his tally in regular season and playoff games to 3,366, surpassing Allen's total of 3,358.He had come into the game just one behind two-time NBA champion Allen and equaled his record within the first few minutes of the game.And he became the all-time lead just minutes later, drilling a long-range effort over Alex Caruso."

---